{
  "token": {
    "access_token": "GAS_ACCESS_TOKEN",
    "scope": "GAS_SCOPE",
    "token_type": "Bearer",
    "id_token": "GAS_ID_TOKEN",
    "expiry_date": 0,
    "refresh_token": "GAS_REFRESH_TOKEN"
  },
  "oauth2ClientSettings": {
    "clientId": "GAS_CLIENT_ID",
    "clientSecret": "GAS_CLIENT_SECRET",
    "redirectUri": "http://localhost"
  },
  "isLocalCreds": false
}
